################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMLProject/FileContentIndex/1d1f4b46-22c0-4583-8cda-e941be19a794.vsidx
